@font-face {
  font-family: "GenesisSansText";
  font-weight: 400;
  src: url(../font/GenesisSansTextGlobalRegular.woff) format("woff");
}

@font-face {
  font-family: "GenesisSansText";
  font-weight: 500;
  src: url(../font/GenesisSansTextGlobalMedium.woff) format("woff");
}

@font-face {
  font-family: "GenesisSansText";
  font-weight: 700;
  src: url(../font/GenesisSansTextGlobalBold.woff) format("woff");
}

@font-face {
  font-family: "GenesisSansHead";
  src: url(../font/GenesisSansHeadGlobalRegular.woff) format("woff");
}