@import "./_inline-mixin.scss";

.ic {
  &_apple_24px {
    display:inline-block;
    @include inline-svg-size(24px, 24px, 'ic_apple_24px', #fc0,none, none);
  }
  &_bluetooth_24px {
    display: inline-block;
    @include inline-svg-size(24px, 24px, 'ic_bluetooth_24px', none, none, #fc0);
  }
  &_bullet_bold_12px {
    display: inline-block;
    @include inline-svg-size(12px, 12px, 'ic_bullet_bold_12px', #fc0, #fc0, #fc0);
  }
  &_cat_24px {
    display: inline-block;
    @include inline-svg-size(24px, 24px, 'ic_cat_24px', none, none, #fc0);
  }
  &_insta_24px {
    display: inline-block;
    @include inline-svg-size(24px, 24px, 'ic_insta_24px', none, none, #fc0);
  }
  &_send_24px {
    display: inline-block;
    @include inline-svg-size(24px, 24px, 'ic_send_24px', none, none, #fc0);
  }
  &_wifi_24px {
    display: inline-block;
    @include inline-svg-size(24px, 24px, 'ic_wifi_24px', none, none, #fc0);
  }
}

